@import '../../app/_variables';

@import url('https://fonts.googleapis.com/css?family=Nunito');

.platform-android {
  min-height: 500px;
}


.login_content {

	background: linear-gradient( rgba(51, 0, 116, 0.85), rgba(51, 0, 116, 0.85) ), url('/assets/background_pic.png');
    background-position:center top;

	position: relative;

	.item-inner{
		border-bottom: none !important;
		padding-right: 0 !important;
	}

	/* input::-webkit-input-placeholder {
	    font-size: 16px;
	    line-height: 3;
	} */

	.popup_wrap{
		width: 100%;
	}

	.forgot_pass{
		margin: 1.5rem 0;
	    text-align: center;
	    width: 100%;
	    font-family: arial, sans-serif;
	    color: #FFF;
	}

	.id_input{
		padding-right: 0 !important;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		border-bottom: solid;
		border-bottom-width: thin;
		border-bottom-color: $border-color;
		height: 60px !important;
	}

	.pass_input{
		padding-right: 0 !important;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
		height: 60px !important;
	}

	.question_icon{
		color: $primary-color !important; 
		margin: 20px;
		opacity: 0.5;
	}

	

	@media screen and (min-width: 375px) {
	    .scroll-content{
	    	padding: 70px 40px 0 !important;
	    }

	    .login_btn{
	    	margin-top: 30px !important;
	    }
	}

	@media screen and(max-width: 374px){

		.scroll-content{
			padding: 30px 20px 0 !important;
			.login_logo{
				margin-bottom: 40px;
				margin-top: 20px;
			}
    	}
	}
	

	ion-icon{
		font-size: 24px; 
		color: $gray;
	}

	.login_left_icon{
		margin: 20px;
	}

	.login_btn_row{
		text-align: center;
		margin-top: 30px;
	}

	.login_btn{
		width: 35%;

	    margin: auto;
	    height: 43px;
	    background-color: #38DB67;
	    font-weight: bold; 
	    color: #FFF;
	    font-size: 16px;
	    text-transform: uppercase;
	    font-family: 'Nunito', sans-serif;
	    border-radius: 2px;
	}

	.bottom_text{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: #FFFFFF !important;
		text-decoration: underline;
		text-align: center;
		padding-bottom: 30px;
		padding-left: 60px;
		padding-right: 60px;
		font-size: 16px;
	}

	.center_div{
		width: 100%;
		text-align: center;
		margin-bottom: 5rem;

		.app_name{
			font-size: 62px;
		    color: #FFF;
		    font-family: Hiragino Maru Gothic Pro;
		}

		.app_slogan{
			font-family: 'Nunito', sans-serif;
			color: #FFF;
			font-size: 18px;
		}
	}

	.sign_up_text{
		
		font-family: arial, sans-serif;
		color: #FFF;
		text-align: center;
		margin: 5rem auto;
	}

	.success {
		color: $success;
	}

	.error {
		color: $error;
	}

	.text-input{
		text-transform: uppercase;
	}

	::placeholder {
		text-transform: none;
		font-size: 16px;
	}
}

.login_logo{
	margin-bottom: 70px;
	margin-top: 0px;
}




