@import url('https://fonts.googleapis.com/css?family=Nunito');


.landing_header{
	padding: 2rem 3rem;
}

.title{
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.menu_icon{
	float: right;
}

.ion-ios-menu::before{
	font-size: 30px;
}

#pickup1{
	background: url(/assets/pickup1.png) no-repeat center top;
    background-size: cover;
    min-height: 155%;
}

.scroll-content{
	padding: 0 !important;
}