$primary-color: #2989DC; 
$main-font: 'Source Sans Pro', sans-serif;
$main-font-size: 18px;

$btn-light-bg: rgba(255,255,255,0.2);

$border-color: #D8DCD4;

$gray: #B2B2B2;

$success: #63BD00;

$error: #D0021B;

.light-btn { 

	background-color: $btn-light-bg;
	color: #FFFFFF;

}